<main>
  {{ content }}
</main>

<footer class="footer">
  <small>本站所有资源收集整理于网络,用于互联网爱好者学习和研究,如不慎侵犯了您的权利,请及时联系站长处理删除。敬请谅解！ 侵权删帖/违法举报/投稿等联系邮箱（#替换成@）：atticus_beta#outlook.com</small>
  {%- assign year_from = site.posts[-1].date | date: '%Y' -%}
  {%- assign year_to   = site.time | date: '%Y' -%}
  {%- if year_from == nil or year_from == year_to -%}
    {%- assign year_string = year_from -%}
  {%- else -%}
    {%- assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to -%}
  {%- endif -%}
  <small>
    &copy; {{ year_string }} {% if site.author %}<a href="{{ site.author.url }}">Lux</a>{% endif %}. All rights reserved.
    Powered by {% if site.author %}<a href="{{ site.author.url }}">Lux</a>{% endif %}.
  </small>
</footer>
<!-- Snowflake start
<div class="cjj-xuehua">
    <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
    <script>
      new Snowflakes({color: 'rgb(234,245,253)'});
    </script>
  </div>
Snowflake end -->
